body{
    background-color: #dfe4ea;
    font-family: font-family: 'Roboto', sans-serif;
}

header {
    height: 200px;
    background-color:#fc5c65;
}

h1{
    text-align: center;
    padding-top:70px;
    color: #fff;
    font-size: 3em;
    font-weight: 100;
}